@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Red Hat Display', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1080px];
  }

  .btn {
    @apply tracking-tight py-[10px] rounded-2xl dark:text-gray-100;
  }
}

.burger {
  height: 20px;
  position: relative;
  width: 30px;
}

.burger-line {
  display: flex;
  width: 30px;
  height: 3px;
  background: #4d4244;
  transition: 0.3s all ease;
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
}

.middle-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
}

.burger.active > .top-line {
  transform: translateY(7px) rotate(45deg);
  transition: 0.3s all ease;
}

.burger.active > .middle-line {
  opacity: 0;
  transition: 0.3s all ease;
}

.burger.active > .bottom-line {
  transform: translateY(-10px) rotate(-45deg);
  transition: 0.3s all ease;
}
